# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea

# Build
vendor
build
contracts
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
dist
tools-stamp
docs/node_modules

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
mytestnet

# Testing
coverage.txt
profile.out

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea/
*.iml

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz
contract_tests/*
final_test.json
final.json
huahua_snapshot.json
hub_snapshot.json
juno_snapshot.json
final_debug1.json
final_debug.json
export.json
